main .main_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main .main-one{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 110vh;
}

main .main-one-img{
   width: 40vw;
   height: 100vh;
   
}

main .main-one-img img{
    width: 35vw;
    height: 83%;
    margin-top: 3rem;
}

main .main-one-texts{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

main .main-one-texts .text-orange{
    font-family: 'arimo';
    color: #ff8100;
    
}
main .main-one-texts .text-orange h3{
    font-size: 0.7rem;
    margin-right: 8.8rem;
    margin-top: 9.5rem;
}

main .main-one-texts .main-one-title h1{
    font-family: 'Arimo';
    margin-right: 5rem;
    margin-top: 3px;
}
    
main .main-one-descript{
    margin-top: 4rem;
    font-family: 'Arimo';
    margin-left: 2.5rem;
}

main .main-one-icons img{
    width: 5vw;
    height: 5vw;
    border-radius:3px;
    margin-left: 1rem;
}


.main-one-icons-text {
    display: flex;
    margin-top: 2rem;
    margin-left: 3rem;
}

main .main-one-text-p {
    font-family: 'Arimo';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main .main-one-text-p .up {
    padding-top: 10px;
}

main .main-one-text-p  .medio {
    padding-top: 8px;
}

main .main-one-text-p .ultimo {
    padding-top: 7px;
}

main .main-one-icons-text .main-one-icons {
    display: flex;
    flex-direction: column;
}

main .main-one-icons img {
    width: 5vw;
    height: 5vw;
    border-radius: 3px;
    margin-left: 1rem;
    margin-top: 1rem;
}

/* ---------------------------------------------------------------- */

main .main-two{
    display: flex;
    justify-content: center;
    background-color: #efeded;
    font-family: Arimo;
    height: 100vh;
}

main .main-two-left{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

main .main-two-left .about-orange {
    color: #ff8100;
    font-size: 0.7rem;
    margin-top: 4rem;
}


main .main-two-left .title{
    margin-top: 5px;
}

main .main-two-left .sub-sub-title{
    margin-top: 27px;
    font-weight: bold;
}

main .main-two-left .buttons{
    display: flex;
    
}

main .main-two-left .btns{
    height: 2.2rem;
    width: 32%;
    border: 1px solid #dddddd;
    background: white;
    border-radius: 4px;
    margin-top: 2.7rem;
    font-weight: bold;
    margin-left: 3px;
}
input:focus, input[type]:focus{
    border-color: rgb(180, 175, 175);
}


main .main-two-left .textarea{
    margin-left: 2px;
    margin-top: 7px;
}

main .main-two-left textarea {
    border-color: #ddd6d6;
    background-color: #efeded;
    width: 100%;
    padding: 20px;
    font-family: 'Arimo';
    word-spacing: 6px;
    color: #454343;
    font-size: 13.9px;
}

main .main-two-left button.button{
    background-color: rgba(0, 0, 45);
    color: white;
    margin-left: 10rem;
    margin-top: 3rem;
    height: 2.2rem;
    width: 32%;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

main .main-two-rigth{
    align-items: center;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

main .main-two-rigth .services-orange {
    color: #ff8100;
    font-size: 0.7rem;
    margin-top: 4rem;   
    margin-right: 9.5rem;
}

main .main-two-rigth .title-rigth{
    margin-top: 5px;
}

main .main-two-rigth .cuadros {
    margin-top: 1.5rem;
    width: 65%;
    margin-left: 92px;
}

main .main-two-rigth .cuadro-1 {
    background-color: #8080801f;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main .main-two-rigth .cuadro-1  p.title {
    margin-left: 5rem;
    margin-bottom: 13px;
    font-weight: bold;
}

main .main-two-rigth .cuadro-1 p.text {
    margin-left: 5rem;
    font-size: 14px;
    word-spacing: 6px;
    margin-bottom: 22px;
    padding-bottom: 17px;
}

.cuadro-2 {
    background-color: #ff8100;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    color: white
}

main .main-two-rigth .cuadro-2  p.title2 {
    margin-left: 5rem;
    margin-bottom: 13px;
    font-weight: bold;
}

main .main-two-rigth .cuadro-2 p.text2 {
    margin-left: 5rem;
    font-size: 14px;
    word-spacing: 6px;
    margin-bottom: 22px;
    padding-bottom: 17px;
}


.cuadro-3 {
    background-color: rgba(0, 0, 45);
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

main .main-two-rigth .cuadro-3  p.title3 {
    margin-left: 5rem;
    margin-bottom: 13px;
    font-weight: bold;
}

main .main-two-rigth .cuadro-3 p.text3 {
    margin-left: 5rem;
    font-size: 14px;
    word-spacing: 6px;
    margin-bottom: 22px;
    padding-bottom: 17px;
}

.cuadros i {
    position: relative;
    top: 36px;
    left: 22px;
    font-size: 39px;
    color: rgba(0, 0, 45);
}

i.fas.fa-paint-roller {
    color: #ff8d00;
}